table{
    width:100%;
}
#example_filter{
    float:right;
}
#example_paginate{
    float:right;
}
label {
    display: inline-flex;
    margin-bottom: .5rem;
    margin-top: .5rem
   
}

#form-control form-control-sm{
    margin-left: 5px;
    margin-right: 5px
}